<div id="sidenav" class="col-sm-2 form-group">
  <ul class="nav nav-stacked nav-pills">
    <li>
      <div class="row form-group">
        <div class="col-xs-6">
          <%= link_to new_album_path, class: "btn btn-default btn-sm", data: { toggle: "modal", target: "#modal" } do %>
            <span class="fa fa-plus-square"></span>
            New Album
          <% end %>
        </div>

        <div class="col-xs-6">
          <%= link_to imports_path(album_id: @album.try(:id)), class: "btn btn-default btn-sm btn-block", data: { toggle: "modal", target: "#modal" } do %>
            <span class="fa fa-upload"></span>
            Import
          <% end %>
        </div>
      </div>
    </li>

    <% if params[:tag_name].present? %>
      <li role="presentation" class="<%= "active" if params[:id].nil? %>">
        <a href="/">
          Tag: <%= params[:tag_name] %>
          <div class="badge pull-right">
            <%= @entries.count %>
          </div>
        </a>
      </li>
    <% end %>

    <li role="presentation" class="<%= "active" if @album.nil? %>">
      <a href="/">
        All
        <div class="badge pull-right">
          <%= current_user.entries.count %>
        </div>
      </a>
    </li>

    <%= render @albums %>
  </ul>
</div>