<figure class="entry">
  <%= link_to entry.image.url do %>
    <%= image_tag entry.image.url %>
  <% end %>

  <div class="entry-tools">
    <a href="#" class="zoom" data-toggle="modal" data-target="#modal_<%= dom_id entry %>">
      <span class="fa fa-arrows"></span>
    </a>

    <%= link_to entry, class: "pull-right", data: { method: :delete, confirm: "Are you sure you want to delete #{entry.image_file_name}?" } do %>
      <span class="fa fa-remove"></span>
    <% end %>
    <%= link_to edit_entry_path(entry), class: "pull-right" do %>
      <span class="fa fa-edit"></span>
    <% end %>
  </div>

  <div id="modal_<%= dom_id entry %>" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <figure>
            <%= image_tag entry.image.url %>

            <figcaption>
              <div class="form-group">
                <%= text_field_tag "#", entry.image.url, class: "select-text" %>
              </div>

              <div class="info row fieldset">
                <dl class="col-sm-4">
                  <dt class="label label-default">Album</dt>
                  <dd>
                    <pre class="prettyprint"><%= entry.album.try(:name) || "None" %></pre>
                  </dd>
                </dl>

                <dl class="col-sm-4">
                  <dt class="label label-default">Size</dt>
                  <dd>
                    <pre class="prettyprint"><%= number_to_human_size entry.image_file_size %></pre>
                  </dd>
                </dl>

                <dl class="col-sm-4">
                  <dt class="label label-default">Uploaded at</dt>
                  <dd>
                    <pre class="prettyprint"><%= I18n.l entry.created_at %></pre>
                  </dd>
                </dl>

                <% unless entry.name.blank? %>
                  <dl class="col-sm-12">
                    <dt class="label label-default">Name</dt>
                    <dd>
                      <pre class="prettyprint"><%= entry.name %></pre>
                    </dd>
                  </dl>
                <% end %>

                <% unless entry.description.blank? %>
                  <dl class="col-sm-12">
                    <dt class="label label-default">Description</dt>
                    <dd>
                      <pre class="prettyprint"><%= entry.description %></pre>
                    </dd>
                  </dl>
                <% end %>

                <% unless entry.tags.empty? %>
                  <dl class="col-sm-12">
                    <dt class="label label-default">Tags</dt>
                    <dd>
                      <pre class="prettyprint"><%= render partial: "tags/tag", collection: entry.tags, locals: { tags_count: entry.tags.count } %></pre>
                    </dd>
                  </dl>
                <% end %>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</figure>