<% @entry ||= entry %>

<%= form_for @entry, multipart: true, html: { class: 'form-horizontal dropzone' } do |f| %>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <%= f.label :album_id, class: 'control-label col-md-2' %>
        <div class="col-md-10">
          <%= f.collection_select :album_id, Album.all, :id, :name, {}, { class: 'text-field form-control' } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :image, class: 'control-label col-md-2' %>
        <div class="col-md-10">
          <%= f.file_field :image, class: 'text-field form-control', multiple: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, class: 'control-label col-md-2' %>
        <div class="col-md-10">
          <%= f.text_field :name, rows: 3, class: 'text-field form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'control-label col-md-2' %>
        <div class="col-md-10">
          <%= f.text_area :description, rows: 3, class: 'text-field form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :tag_list, "Tags", class: 'control-label col-md-2' %>
        <div class="col-md-10">
          <%= f.text_field :tag_list, value: @entry.tag_list.join(", "), class: 'text-field form-control token-input' %>
        </div>
      </div>
    </div>

    <div id="form-image" class="col-sm-7">
      <%= image_tag @entry.image.url %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
